<% if @user.provider.blank? %>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>


  <div class="field">
  <%= f.label :名前 %><br />
    <%= f.text_field :name %>
  </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %>文字以上
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :現在のパスワード %> <br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <div id="image">
      <%= profile_img(@user) if profile_img(@user) %>
    </div>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>

  <div class="actions" style="margin-top: 10px;">
    <%= f.submit "更新" %>
  </div>
<% end %>
<% end %>





<p style="margin-top: 10px;"><%= button_to "登録解除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<p style="margin-top: 10px;"><%= link_to "戻る", :back %></p>


<h2 style="margin-top: 20px;">フォロー</h2>
<% @user.followers.each do |follow|%>
  <%= follow.name %>
<% end %>
<h2 style="margin-top: 20px;">フォロワー</h2>
<% @user.followed_users.each do |follower|%>
  <p><%= follower.name %></p>
<% end %>
