<!DOCTYPE html>
<html>
<head>
  <title>Facebookclone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #cccccc;">

  <header>
    <ul>
      <li><a href="/">facebook</a></li>
      <div class="header-right">
        <% if user_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'マイページ', edit_user_registration_path %></li>
        <li><%= link_to 'ユーザー一覧', users_path if user_signed_in? %></li>
        <li><%= link_to "メッセージ", conversations_path %></li>
        <% else %>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "サインイン", new_user_registration_path %></li>
        <% end %>
      </div>
    </ul>
  </header>

  <%= yield %>

</body>
</html>
